<!-- templates/store/emails/recover_cart_email.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Recover Your Cart</title>
</head>
<body>
    <p>Dear {{ user.username }},</p>
    <p>It looks like you left some items in your cart. Come back and complete your purchase:</p>
    <ul>
        {% for item in cart.cartitem_set.all %}
            <li>{{ item.product.name }} - Quantity: {{ item.quantity }}</li>
        {% endfor %}
    </ul>
    <p><a href="{% url 'cart_url' %}">Click here to view your cart</a></p>
    <p>Thank you for shopping with us!</p>
</body>
</html>
